/* COLORS */

:root {
  --blue: #056ca6;
  --grey: #b4bec3;
  --green: #024f59;
  --orange: #ed4034;
  --yellow: #fdec47;
}

/* TYPOGRAPHY */

@font-face {
  font-family: "Agenda-Black";
  src: url("fonts/Agenda-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Agenda-Bold";
  src: url("fonts/Agenda-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Agenda-Light";
  src: url("fonts/Agenda-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Agenda-Medium";
  src: url("fonts/Agenda-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Agenda-ThinUltraCondensed";
  src: url("fonts/Agenda-ThinUltraCo.ttf") format("truetype");
}

#terceraContainer {
  background-image: url("img/Recurso\ 16.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 170vh;
}

#crossContainer {
  display: flex;
  flex-direction: column;
}

#crossContainer h3 img {
  width: 1rem;
}

#imageCarousel:first-child {
  width: 1rem;
}

#imgCarContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#imageCarousel:last-child {
  width: 1rem;
}

#oportunidadContainer {
}

#oportunidadContainer p {
  display: flex;
}

#oportunidadContainer p span {
  margin-right: 1rem;
}

#modulosContainer {
  background-color: rgba(255, 255, 255, 0.5);
}

#modulosContainer span {
  width: 65%;
}

#modulosContainer ul li {
  list-style-type: none;
  margin-bottom: 0.2rem;
}

#etapa {
  background-color: var(--yellow);
  text-align: center;
}

#etapa h1 {
  letter-spacing: 0.1rem;
}

.negritaP {
  font-weight: bold !important;
}

.negroP {
  color: #000;
}

.blancoP {
  color: white;
}
.sizeBigTitulo {
  font-size: 2.4rem;
}
.sizeTitulo {
  font-size: 1.7rem;
  letter-spacing: 0.12rem;
}
.sizeSubtitulo {
  font-size: 1.3rem;
  letter-spacing: 0.11rem;
}
.sizeSubOtroTitulo {
  font-size: 1.5rem;
  letter-spacing: 0.115rem;
}
.sizeOtroTitulo {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
}
.fontTitulo {
  font-family: "Agenda-Bold";
}
.fontSubtitulo {
  font-family: "Agenda-Medium";
}
.fontBlack {
  font-family: "Agenda-Black";
}
#headContent {
  padding: 5rem;
}

#headContent h1 {
  margin-bottom: 0.1rem;
  margin-bottom: 1rem;
}

#headContent h2 {
  font-family: "Agenda-Medium";
}

#lastContent {
  padding: 5rem;
}

#lastContent h1 {
  margin-bottom: 0.1rem;
  margin-bottom: 1rem;
}

#lastContent h2 {
  font-family: "Agenda-Medium";
}
.highlight {
  background-color: var(--yellow);
  display: block;
  padding-left: 0.5rem;
  margin-bottom: 0.7rem;
}

.resaltado {
  background-color: var(--yellow);
  width: fit-content;
  padding: 0.2rem 0 0 0.3rem;
}

.resaltado h2 {
  margin: 0;
}

#textContainerBotton img {
  margin-bottom: 10%;
}

#mapsContainer {
  display: flex;
}

/* HEADER */

#header {
  border-bottom: 0.4rem solid #fdec47;
  background-color: black;
}

#logoImage {
  height: 8vh;
}

#logoFooter {
  width: 3rem;
}

#headContent p {
  font-size: 1.8em;
}

#formContainer {
  background-color: rgba(0, 0, 0, 0.5);
}
.griega {
  width: 40px;
  margin-bottom: 20px;
}

body {
  margin: 0;
  padding: 0;
  width: 100% !important;
  box-sizing: border-box;
  /*overflow-x: hidden;*/
}
#head #logo,
#head #headerBeneficios {
  padding: 30px;
}
#head {
  background-image: url("img/Recurso\ 12.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
/* .............. */

#head form .form-control,
#formContainer2 form .form-control {
  font-size: 1em;
}
#head form ::placeholder,
#formContainer2 form ::placeholder {
  font-style: italic;
  font-weight: 400;
  font-family: "TitilliumWeb-LightItalic";
}

.hidden {
  display: none;
}
/* FORMULARIO */
.hidden {
  display: none !important;
}

.ml {
  margin-left: 3%;
}

.campo {
  float: left;
  margin-bottom: 10px;
  width: 48.5%;
}

.campoFull {
  border: 0;
  margin-bottom: 10px;
  width: 100%;
}

#head label,
#head .campo,
#head .campoFull,
#head .form-control {
  color: #fff;
  font-size: 1em;
  font-family: "Poppins-Light", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}
#head label {
  color: #fff;
  font-weight: 400;
  font-size: 1em;
  margin-bottom: 0;
}
.g-recaptcha > div.error {
  border: 1px solid red;
}
#livomLink a {
  color: #fff;
  font-size: 0.9em;
}

#head .success.circle {
  color: #fff;
}
#head .form-control:focus,
#head .form-control {
  color: #fff;
  border: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  padding-left: 1px;
}
.form-control.error {
  border-bottom: 1px solid #e42320 !important;
}

#head form {
  margin-top: 15%;
  padding: 20px;
}

#formContainer2 .form-control:focus,
#formContainer2 .form-control {
  color: var(--green);
  border: 0;
  border-bottom: 1px solid var(--green);
  background-color: transparent;
  padding-left: 1px;
}
/*  Productos */

.agro .title,
.industria .title {
  margin-top: -35px;
}

ul#headerServicios li img {
  margin-right: 10px;
}
ul#headerBeneficios li img {
  height: 25px;
  margin-right: 10px;
}

ul#headerBeneficios li span {
  font-family: "TitilliumWeb-SemiBold";
}

#headerContacto a {
  color: #fff;
  text-decoration: none;
}
#headerContacto span {
  font-size: 1.1em;
  letter-spacing: 3px;
  margin-right: 10px;
}

#headerContacto div {
  color: #fff;
  background-color: var(--green);
  display: inline-block;
  padding: 3px 25px;
}
#headerContacto img {
  height: 21px;
  margin-left: 10px;
  margin-top: -5px;
}
/* historia */

#historia h2 {
  color: #fff;
  text-align: center;
  font-family: "TitilliumWeb-Bold";
  font-size: 1.5em;
  margin-top: -100px;
  width: 100%;
  text-shadow: #5e5e5e 0.5px 0.5px;
  letter-spacing: 2px;
}

#historia #elPolo p {
  font-size: 1.2em;
  line-height: 2em;
  margin-top: 40px;
  width: 90%;
}
/* valores */

#ubicacion h3,
#ubicacion p,
#valores p {
  color: #fff;
  font-size: 1.2em;
  line-height: 2em;
  margin-bottom: 30px;
}

#fotosText,
.carousel-item img {
  width: 100%;
}

#lastFormSection {
  background-image: url(img/Recurso\ 17.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 170vh;
}

footer {
  background-color: var(--yellow);
  padding-top: 40px;
  padding-bottom: 40px;
}
footer .social {
  margin-left: 5px;
  width: 21px;
}

.right-band.blue span {
  background-color: var(--blue);
  color: #fff;
}
#historia .right-band.blue span {
  margin-left: -66px;
  font-size: 0.9em;
  padding: 5px 0px 5px 3px;
}
.contacto p,
.about-contenido-seguro p {
  color: var(--blue);
}

.intro_replen-sello img {
  width: 1rem;
}

textarea {
  resize: none;
}

#head .btn,
#head .btn:hover {
  background-color: var(--grey);
  border: 0;
  border-radius: 3px;
  color: var(--green);
  padding: 0.2rem 0.5rem;
}
#formContainer2 .btn,
#head .btn:hover {
  background-color: var(--green);
  color: var(--grey);
  border: 0;
  border-radius: 3px;
  padding: 0.2rem 0.5rem;
}
/* About-1 */

.about-1 h2 {
  line-height: 1.5;
}

#whatsapp {
  position: fixed;
  z-index: 9999;
  bottom: 25px;
  right: 20px;
  width: 60px;

  transition: 0.3s;
}
#whatsapp:hover {
  bottom: 30px;
}
#whatsapp img {
  width: 100%;
}

.slick-slide img {
  width: 100%;
}

@media (min-width: 769px) {
  #head #logo,
  #head #headerBeneficios {
    padding: 60px;
  }
  /* Navbar */

  .contacto p {
    font-family: "TitilliumWeb-Light", sans-serif;
    font-size: 0.8rem;
  }
}

@media (max-width: 575px) {
  #headerContent {
    padding-left: 3rem;
    height: 100%;
    padding-bottom: 10px;
    padding-top: 10rem;
  }
  #head form {
    margin-top: 0%;
  }
}
